@import '../../sass/variables.scss';

.main {
    width: 100vw;
    height: 100vh;
    background-color: $color-bc;
    display: flex;
}

.wrap {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}