@import '../../sass/variables.scss';

.main {
    width: 100vw;
    height: 100vh;
    background-color: $color-bc;
    display: flex;
}

.wrap {
    width: 1000px;
    padding: 0 20px;
    margin: auto;
    display: flex;
    flex-direction: column;

    @media (max-width: 720px) {
        flex-direction: row-reverse;
    }
}