@import '../../sass/variables.scss';
@import '../../sass/forms.scss';

.header {
    margin: 0 auto 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 720px) {
        flex-direction: column-reverse;
        margin-left: 10px;
    }

    &__title {
        margin-bottom: 0;
        margin-right: 30px;
        font-size: 50px;
        font-family: $primary-text;
        font-weight: 700;
        word-spacing: 10px;

        @media (max-width: 720px) {
            font-size: 60px;
            margin: 0;
            text-align: center;
            word-spacing: 20px;
        }
    }

    &__date-time {
        display: flex;
        flex-direction: column;
        
        @media (max-width: 720px) {
            align-items: center;
            width: 100%;
        }
    }

    &__date {
        width: 150px;
        padding: 5px 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 2px $color-secondary solid;
        background-color: darken($color-bc, 30%);
        font-family: $secondary-text;
        color: $color-text;

        input {
            color: $color-text;
            font-weight: 700;

            &::placeholder {
                color: inherit;
            }
        }

        @media (max-width: 720px) {
            width: 80%
        }
    }

    &__time {
        width: 150px;
        padding: 4px 10px;
        margin-top: auto;
        border-radius: 5px;
        border: 2px $color-secondary solid;
        background-color: darken($color-bc, 30%);
        font-family: $secondary-text;
        color: $color-text;
        font-weight: 700;

        @media (max-width: 720px) {
            width: 80%
        }
    }

    &__button-submit {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
}